
.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 1.1);
    padding: 1em;
    margin: 1rem;
    text-align: center;
    max-width: 250px;
    display: inline-block;

    img {
        max-width: 60%;
        height: auto;
        border-radius: 20%;
    }

    h2 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: rgb(208, 214, 219);
    }

    p {
        font-size: 1vw;
        color: rgb(166, 169, 170);
    }
}

